<div class="col7 color-white  offset-left2 center-content">
    <div class="separator15"></div>
    <a href="#/" class="color-red">
        <h1>{{config.appName}}</h1>
    </a>
    <div class="separator30"></div>
    <a href="#/layout" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('layout') < 0, 'active' : config.appPath.indexOf('layout') > -1}">
        <span class="col3">
            <i class="fa fa-laptop color-red"></i>
        </span>
        <span class="col7 left-content  "> Layout</span>
    </a>
    <div class="separator15"></div>
    <a href="#/buttons" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('buttons') < 0 , 'active' : config.appPath.indexOf('buttons') > -1}">
        <span class="col3">
            <i class="fa fa-circle color-red"></i>
        </span>
        <span class="col7 left-content"> Buttons</span>
    </a>
    <div class="separator15"></div>
    <a href="#/colors" class="line btn btn-medium bg-muted border radius3 color-white " ng-class="{'toggle-opacity-hover': config.appPath.indexOf('colors') < 0, 'active' : config.appPath.indexOf('colors') > -1}">
        <span class="col3">
            <i class="fa fa-tint color-red"></i>
        </span>
        <span class="col7 left-content"> Colors</span>
    </a>
    <div class="separator15"></div>
    <a href="#/backgrounds" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('backgrounds') < 0, 'active' : config.appPath.indexOf('backgrounds') > -1}">
        <span class="col3">
            <i class="fa fa-adjust color-red"></i>
        </span>
        <span class="col7 left-content">Backgrounds</span>
    </a>
    <div class="separator15"></div>
    <a href="#/utils" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('utils') < 0 , 'active' : config.appPath.indexOf('utils') > -1}">
        <span class="col3">
            <i class="fa fa-cog color-red"></i>
        </span>
        <span class="col7 left-content">Utils </span>
    </a>
    <div class="separator15"></div>
    <a href="#/no" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('no') < 0 , 'active' : config.appPath.indexOf('no') > -1}">
        <span class="col3">
            <i class="fa fa-exclamation color-red"></i>
        </span>
        <span class="col7 left-content">No</span>
    </a>
    <div class="separator15"></div>
    <a href="#/animations" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('animations') < 0 , 'active' : config.appPath.indexOf('animations') > -1}">
        <span class="col3">
            <i class="fa fa-magic color-red"></i>
        </span>
        <span class="col7 left-content"> Animations</span>
    </a>
    <div class="separator15"></div>
    <a href="#/components" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('components') < 0 , 'active' : config.appPath.indexOf('components') > -1}">
        <span class="col3">
            <i class="fa fa-cube color-red"></i>
        </span>
        <span class="col7 left-content"> Components</span>
    </a>
    <div class="separator15"></div>
    <a href="#/responsive" class="line btn btn-medium bg-muted border radius3 color-white" ng-class="{'toggle-opacity-hover': config.appPath.indexOf('responsive') < 0 , 'active' : config.appPath.indexOf('responsive') > -1}">
        <span class="col3">
            <i class="fa fa-tablet color-red"></i>
        </span>
        <span class="col7 left-content"> Responsive</span>
    </a>
    <div class="separator15"></div>
    <div class="separator30"></div>
    <a ng-href="{{config.appDownloadUrl}}" class="line btn btn-medium bg-muted border radius3 color-white toggle-opacity-inverse-hover">
        <span class="col3">
            <i class="fa fa-cloud-download color-white"></i>
        </span>
        <span class="col7 left-content color-white"> Download</span>
    </a>
    <div class="separator5"></div>
    <a ng-href="{{config.appGithubUrl}}" class="line btn btn-medium bg-muted border radius3 color-white toggle-opacity-inverse-hover">
        <span class="col3">
            <i class="fa fa-github-alt color-white"></i>
        </span>
        <span class="col7 left-content color-white"> Github source</span>
    </a>
    <div class="separator15"></div>
</div>