<div class="line bg-azure color-grey ">
  <div class="line-compress">
    <div class="separator10"></div>
    <h1 class="center-content">Responsive</h1>
    <div class="separator10"></div>
  </div>
  <div class="hr"></div>
</div>
<div class="separator15"></div>
<div class="line">
  <div class="line-compress">
    <h4 class="font-light">
      {{config.appName}}
      uses media queries to help you define classes and therefore responsive to apply rules based on the user's device.
      <div>
      Just for example, if you want your element to appear only for <b>tablet</b> devices you just have to append
      <small class="badge bg-lightgrey radius5"><b>.tablet</b></small> class to that element .
      </h4>
    <div class="separator15"></div>
    <div class="bg-lightgrey radius3">
      <h5 class="color-muted font-light radius">
        <div class="separator5"></div>
        <div class="line-compress">
          <i class="fa fa-exclamation color-red"></i>
          {{config.appName}}  <b>responsive</b> classes can be easily extended .
          <div> Just, for example, in case that  you need to have a background to change on mobile devices,  just add a new class to the main mobile media query that you will find in the main source file.
          </div>
        </div>
        <div class="separator5"></div>
      </h5>
    </div>
    <div class="separator15"></div>
    <div class="line">
    <h1 class="font-light">Basics</h1>
    <div class="separator15"></div>
    <div class="line over-x-scroll">
        <code hljs>
  /*desktop*/
  @media screen and (min-width:800px){
    /*put in here all desktop and large screen devices rules*/
  }
  /*tablet*/
  @media screen and (max-width:800px){
  /*put in here all tablet rules*/
  }
  /*mobile*/
  @media screen and (max-width:400px){
  /*put in here all mobile rules*/
  }
        </code>
    </div>
    <h5 class="line-compress font-light">* As you can see from the code above, {{config.appName}} defines 3 important media queries, one for <b>desktop</b>, one for <b>tablet</b> and one for <b>mobile</b> devices.
 These are quite standard responsive widths, but you can easily change the media queries rules, adding your own widths, as well as adding more media queries.
    </h5>
    <div class="separator15"></div>

    <h1 class="font-light">Layout</h1>
    <div class="separator15"></div>
    <div class="line over-x-scroll">
        <code hljs>
  /*desktop*/
  @media screen and (min-width:800px){
  }
  /*tablet*/
  @media screen and (max-width:800px){
    .line-tablet{
        width:100%;
        margin:0 auto;
    }
  }
  /*mobile*/
  @media screen and (max-width:400px){
    .line-mobile{
        width:100%;
        margin:0 auto;
    }
  }
        </code>
    </div>
    <h5 class="line-compress font-light">* As you can see from the code above, {{config.appName}} defines 2 important rules for tablet and mobile devices.
    The <small class="badge bg-lightgrey radius5"><b>.line-tablet</b></small> if appended to an element such as a <small class="badge bg-lightgrey radius5"><b>.col*</b></small> element, makes it fits the full tablet screen width.
    Let's do an example.
    </h5>

    <div class="separator15"></div>

    <h2>.line-tablet</h2>
   <div class="separator15"></div>
    <h2 class="color-muted">Code</h2>
       <div class="line over-x-scroll">
        <code hljs>
          <div class="line">
              <div class="col6 line-tablet">Resize me to tablet</div>
          </div>
        </code>
    </div>
   <div class="separator15"></div>
    <h2 class="color-muted">Preview</h2>
   <b> <i class="fa fa-tablet"></i> Tablet width</b>: <span class="color-red"> {{tabletWidth}}</span>px
    <div>
    <b>Current screen width</b>: <span class="color-blue">{{windowWidth}}</span>px
    </div>
    <div class="line bg-red">
              <div class="col6 bg-azure center-content line-tablet">

   <div class="separator15"></div>
                <span ng-if="windowWidth <= tabletWidth"><b>Here we go tablet!</b></span>
                <span ng-if="tabletWidth < windowWidth">Resize me to <i class="fa fa-tablet"></i> <b>tablet</b></span>

   <div class="separator15"></div>
              </div>
          </div>
            <div class="separator15"></div>

    <h2>.line-mobile</h2>
   <div class="separator15"></div>
    <h2 class="color-muted">Code</h2>
       <div class="line over-x-scroll">
        <code hljs>
          <div class="line">
              <div class="col6 line-mobile">Resize me to mobile</div>
          </div>
        </code>
    </div>
   <div class="separator15"></div>
    <h2 class="color-muted">Preview</h2>
   <b><i class="fa fa-mobile"></i> Mobile width</b>: <span class="color-red"> {{mobileWidth}}</span>px
    <div>
    <b>Current screen width</b>: <span class="color-blue">{{windowWidth}}</span>px
    </div>
    <div class="line bg-red">
              <div class="col6 bg-azure center-content line-mobile">

   <div class="separator15"></div>
                <span ng-if="windowWidth <= mobileWidth"><b>Here we go mobile!</b></span>
                <span ng-if="mobileWidth < windowWidth">Resize me to <i class="fa fa-mobile"></i> <b>mobile</b></span>

   <div class="separator15"></div>
              </div>
          </div>
    <div class="separator30"></div>

    <h1 class="font-light">Hiding/Showing</h1>

    <div class="separator15"></div>
    <div class="line over-x-scroll">
        <code hljs>
  /*desktop*/
  @media screen and (min-width:800px){
    .mobile, .tablet{
     display: none;
    }
    .desktop{
     display: inherit;
    }
  }
  /*tablet*/
  @media screen and (max-width:800px){
    .mobile, .desktop{
      display: none;
    }
    .tablet{
     display: inherit;
    }
  }
  /*mobile*/
  @media screen and (max-width:400px){
    .tablet, .desktop{
      display: none;
    }
    .mobile{
      display:inherit;
    }
  }
        </code>
    </div>
    <h5 class="line-compress font-light">* As you can see from the code above, {{config.appName}} defines important rules for hiding and showing elements across page resizing.
    </h5>
    </div>
    <div class="separator15"></div>

    <h2>.desktop</h2>
   <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      If appened to element it shows the element <b>only</b> for screens that fits the desktop width (default is >= 801px)
    </div>
    <div class="separator15"></div>

<h2>.tablet</h2>
   <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      If appened to element it shows the element <b>only</b> for screens that fits the tablet width (default is <= 800px)
    </div>
    <div class="separator15"></div>
<h2>.mobile</h2>
   <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      If appened to element it shows the element <b>only</b> for screens that fits the mobile width (default is <= 400px)
    </div>
    <div class="separator15"></div>

  </div>
</div>
  <div class="separator50"></div>
