<div class="line bg-azure color-grey ">
<div class="line-compress">
<div class="separator10"></div>
<h1 class="center-content">Components</h1>
<div class="separator10"></div>
</div>
<div class="hr"></div>
</div>
<div class="separator15"></div>
<div class="line-compress">
<h4 class="font-light ng-binding">
Css helper
includes some default backgrounds that can be used on any element.
</h4>
</div>
<div class="separator15"></div>
<div class="line-compress">
<div class="line-compress bg-lightgrey radius3">
<h5 class="color-muted font-light radius">
<div class="separator5"></div>
<div class="line-compress ng-binding">
<i class="fa fa-exclamation color-red"></i>
You can easily create extra components or modify components right below
just using the css classes that {{config.appName}} provides.
</div>
<div class="separator5"></div>
</h5>
</div>
</div>
<div class="separator15"></div>
<div class="line-compress">
<input type="text" placeholder="Text ..."/>
<input type="radio" />
<input type="search" placeholder="Search ..."/>
<input type="email" placeholder="Email ..."/>
<input type="checkbox" placeholder="input"/>
<input type="password" placeholder="input"/>
</div>
<!--<div class="line">
<div class="line-compress">
<h1 class="font-light">Forms</h1>
    <div class="separator15"></div>
    <h2>.input</h2>
    <div class="separator15"></div>
    <h3 class="color-muted">Code</h3>
    <div class="line over-x-scroll">
  <code hljs >
  <input type="text" class="input" placeholder=".input"/>
  </code>
    </div>
    <div class="separator15"></div>
    <div class="line">
      <input type="text" class="input" placeholder=".input"/>
    </div>
 <div class="separator15"></div>
    <h2>.input-large</h2>
    <div class="separator15"></div>
    <h3 class="color-muted">Code</h3>
    <div class="line over-x-scroll">
  <code hljs >
  <input type="text" class="input input-large" placeholder=".input.input-large"/>
  </code>
    </div>
    <div class="separator15"></div>
    <div class="line">
      <input type="text" class="input input-large" placeholder=".input.input-large"/>
    </div>
     <div class="separator15"></div>
    <h2>.input-small</h2>
    <div class="separator15"></div>
    <h3 class="color-muted">Code</h3>
    <div class="line over-x-scroll">
  <code hljs >
  <input type="text" class="input input-small" placeholder=".input.input-small"/>
  </code>
    </div>
    <div class="separator15"></div>
    <div class="line">
      <input type="text" class="input input-small" placeholder=".input.input-small"/>
    </div>
       <div class="separator15"></div>
    <h2>.textarea</h2>
    <div class="separator15"></div>
    <h3 class="color-muted">Code</h3>
    <div class="line over-x-scroll">
  <code hljs >
  <input type="text" class="input" placeholder=".input"/>
  </code>
    </div>
    <div class="separator15"></div>
    <div class="line">
      <textarea rows="4" class="textarea"></textarea>
    </div>
</div>
<div class="separator30"></div>
</div>





<div class="line">
<div class="line-compress">
<h1 class="font-light">Forms</h1>
    <div class="separator15"></div>
    <h2>.input</h2>
    <div class="separator15"></div>
    <h3 class="color-muted">Code</h3>
    <div class="line over-x-scroll">
  <code hljs >
  <input type="text" class="input" placeholder=".input"/>
  </code>
    </div>
    <div class="separator15"></div>
    <div class="line">
      <input type="text" class="input" placeholder=".input"/>
    </div>
 <div class="separator15"></div>
    <h2>.input-large</h2>
    <div class="separator15"></div>
    <h3 class="color-muted">Code</h3>
    <div class="line over-x-scroll">
  <code hljs >
  <input type="text" class="input input-large" placeholder=".input.input-large"/>
  </code>
    </div>
    <div class="separator15"></div>
    <div class="line">
      <input type="text" class="input input-large" placeholder=".input.input-large"/>
    </div>
     <div class="separator15"></div>
    <h2>.input-small</h2>
    <div class="separator15"></div>
    <h3 class="color-muted">Code</h3>
    <div class="line over-x-scroll">
  <code hljs >
  <input type="text" class="input input-small" placeholder=".input.input-small"/>
  </code>
    </div>
    <div class="separator15"></div>
    <div class="line">
      <input type="text" class="input input-small" placeholder=".input.input-small"/>
    </div>

</div>
<div class="separator30"></div>
</div>-->

