<div class="line bg-azure color-grey ">
	<div class="line-compress">
		<div class="separator10"></div>
		<h1 class="center-content">Buttons</h1>
		<div class="separator10"></div>
	</div>
	<div class="hr"></div>
</div>
<div class="separator15"></div>
<div class="line">
	<div class="line-compress">
		<h1 class="font-light">Basics</h1>
		<div class="separator15"></div>
		A <small class="badge bg-lightgrey radius5"><b>.btn</b></small> class, defines a button element style .
		<div>
			By default buttons are 100% full width, if you need to use a different width please refer to the <a href="#/layout">layout classes</a>
		</div>
		<div class="separator15"></div>
		<h3 class="color-muted">Code</h3>
		<div class="line over-x-scroll">
			<code hljs >
				<button class="btn border bg-white radius3">.btn</button>
			</code>
		</div>
		<div class="separator15"></div>
		<div class="separator15"></div>
		<div class="line">
			<button class="btn border bg-white radius3">.btn</button>
		</div>

		<div class="separator15"></div>

		<h1 class="font-light">Sizing</h1>
		<div class="separator15"></div>
		<div>
			You can size your buttons appending extra classes like <small class="badge bg-lightgrey radius5"><b>.btn-medium</b></small>  and  <small class="badge bg-lightgrey radius5"><b>.btn-large</b></small>
		</div>
		<div class="separator15"></div>
		<div class="separator15"></div>
		<h3 class="color-muted">Code</h3>
		<div class="line over-x-scroll">
			<code hljs >
							<button class="btn bg-white border radius3">
								.btn
							</button>

							<button class="btn btn-medium bg-white border radius3">
								.btn .btn-medium
							</button>

							<button class="btn btn-large bg-white border radius3">
							.btn .btn-large
							</button>
			</code>
		</div>
		<div class="separator15"></div>
		<div class="line">
			<div class="separator15"></div>
			<div class="col2 line-tablet line-mobile">
				<div class="line-compress">
					<div class="separator15"></div>
					<button class="btn bg-white border radius3 line-mobile line-tablet">
						.btn
					</button>
				</div>
			</div>
			<div class="col4 line-tablet line-mobile">
				<div class="line-compress">

					<div class="separator15"></div>
					<button class="btn btn-medium bg-white border radius3 line-mobile line-tablet">
						.btn .btn-medium
					</button>
				</div>
			</div>
			<div class="col4 line-tablet line-mobile">
				<div class="line-compress">

					<div class="separator15"></div>
					<button class="btn btn-large bg-white border radius3 line-mobile line-tablet">.btn .btn-large</button>
				</div>
			</div>

			<div class="separator15"></div>
		</div>
	</div>
</div>
<div class="separator50"></div>
