<div class="line bg-azure color-grey ">
  <div class="line-compress">
    <div class="separator10"></div>
    <h1 class="center-content">Animations</h1>
    <div class="separator10"></div>
  </div>
  <div class="hr"></div>
</div>
<div class="separator15"></div>
<div class="line">
  <div class="line-compress">
    <h4 class="font-light">
      {{config.appName}} 
      includes some classes that can be used to animate elments togheter with some javascript code.
      <div class="separator15"></div>
      <div class="bg-lightgrey radius3">
        <h5 class="color-muted font-light radius">
          <div class="separator5"></div>
          <div class="line-compress">
            <i class="fa fa-exclamation color-red"></i>
            {{config.appName}} <b>animation</b> classes can be easily extended .
            Just create new keyframes rules and relative classes, actually its full of great ready-to-go css animation's helpers, all around the web,  check this <a target="_blank" href="https://daneden.github.io/animate.css/">link</a> for example.
          </div>
          <div class="separator5"></div>
        </h5>
      </div>
      <div class="separator15"></div>
      <h1 class="color-muted font-light">Fade Out</h1>
      <div class="separator15"></div>
      <h3>.fade-out-slow</h3>
      <div class="separator15"></div>
      <div class="line">
        <h3 class="color-muted">Preview</h3>
        <div class="line bg-azure">
          <div class="col6 offset-left2">
            <div class="separator5"></div>
            <button  type="button"ng-click="setClass('fade-out-slow')" class="btn btn-medium border bg-white radius3" ng-class="{'fade-out-slow': animationClasses['fade-out-slow']}">Click me</button>
            <div class="separator5"></div>
          </div>
        </div>
      </div>
      <div class="separator15"></div>
      <h3>.fade-out-medium</h3>
      <div class="separator15"></div>
      <div class="line">
        <h3 class="color-muted">Preview</h3>
        <div class="line bg-azure">
          <div class="col6 offset-left2">
            <div class="separator5"></div>
            <button  type="button"ng-click="setClass('fade-out-medium')" class="btn btn-medium border bg-white radius3" ng-class="{'fade-out-medium': animationClasses['fade-out-medium']}">Click me</button>
            <div class="separator5"></div>
          </div>
        </div>
      </div>
      <div class="separator15"></div>
      <h3>.fade-out-fast</h3>
      <div class="separator15"></div>
      <div class="line">
        <h3 class="color-muted">Preview</h3>
        <div class="line bg-azure">
          <div class="col6 offset-left2">
            <div class="separator5"></div>
            <button  type="button"ng-click="setClass('fade-out-fast')" class="btn btn-medium border bg-white radius3" ng-class="{'fade-out-fast': animationClasses['fade-out-fast']}">Click me</button>
            <div class="separator5"></div>
          </div>
        </div>
      </div>
      <div class="separator15"></div>
      <h1 class="color-muted font-light">Fade In</h1>
      <div class="separator15"></div>
      <h3>.fade-in-slow</h3>
      <div class="separator15"></div>
      <div class="line">
        <h3 class="color-muted">Preview</h3>
        <div class="line bg-azure">
          <div class="col6 offset-left2">
            <div class="separator5"></div>
            <button  type="button" ng-click="setClass('fade-in-slow')" class="btn btn-medium border bg-white radius3" ng-class="{'no-opacity fade-in-slow': animationClasses['fade-in-slow']}">Click me</button>
            <div class="separator5"></div>
          </div>
        </div>
      </div>
      <div class="separator15"></div>
      <h3>.fade-in-medium</h3>
      <div class="separator15"></div>
      <div class="line">
        <h3 class="color-muted">Preview</h3>
        <div class="line bg-azure">
          <div class="col6 offset-left2">
            <div class="separator5"></div>
            <button  type="button"ng-click="setClass('fade-in-medium')" class="btn btn-medium border bg-white radius3" ng-class="{'no-opacity fade-in-medium': animationClasses['fade-in-medium']}">Click me</button>
            <div class="separator5"></div>
          </div>
        </div>
      </div>
      <div class="separator15"></div>
      <h3>.fade-in-fast</h3>
      <div class="separator15"></div>
      <div class="line">
        <h3 class="color-muted">Preview</h3>
        <div class="line bg-azure">
          <div class="col6 offset-left2">
            <div class="separator5"></div>
            <button  type="button"ng-click="setClass('fade-in-fast')" class="btn btn-medium border bg-white radius3" ng-class="{'no-opacity fade-in-fast': animationClasses['fade-in-fast']}">Click me</button>
            <div class="separator5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator50"></div>
