<div class="line bg-azure color-grey ">
	<div class="line-compress">
		<div class="separator10"></div>
		<h1 class="center-content">Backgrounds</h1>
		<div class="separator10"></div>
	</div>
	<div class="hr"></div>
</div>
<div class="separator15"></div>
<div class="line">
	<div class="line-compress">
		<h4 class="font-light">
			{{config.appName}}
			includes some default backgrounds that can be used on any element.
		</h4>
		<div class="separator15"></div>
		<div class="bg-lightgrey radius3">
			<h5 class="color-muted font-light radius">
				<div class="separator5"></div>
				<div class="line-compress">
					<i class="fa fa-exclamation color-red"></i>
					{{config.appName}}  is not intended to style your site but to help you styling it.
					<div>
						If you need more backgrounds you could just create your custom classes, an example for a violet background could be <small class="badge bg-lightgrey radius5"><b>.bg-violet</b></small>  { background-color : violet; }
					</div>
				</div>
				<div class="separator5"></div>
			</h5>
		</div>
		<div class="separator15"></div>
		<h2>.bg-white</h2>
		<div class="separator15"></div>
		<h3 class="color-muted">Code</h3>
		<div class="line over-x-scroll">
		<code hljs >
		<div class="bg-white border">.bg-white</div>
		</code>
		</div>
		<div class="separator15"></div>
		<div class="line bg-grid">
			<div class="col5 bg-white color-black center-content">
				<div class="separator5"></div>
				.bg-white
				<div class="separator5"></div>
			</div>
		</div>

		<div class="separator30"></div>
		<h2>.bg-black</h2>
		<div class="separator15"></div>
		<h3 class="color-muted">Code</h3>
		<div class="line over-x-scroll">
		<code hljs >
		<div class="bg-black color-white">.bg-black</div>
		</code>
		</div>
		<div class="separator15"></div>
		<div class="line bg-grid">
			<div class="col5  color-white center-content bg-black">
				<div class="separator5"></div>
				.bg-black
				<div class="separator5"></div>
			</div>
		</div>

		<div class="separator30"></div>
		<h2>.bg-muted</h2>
		<div class="separator15"></div>
		<h3 class="color-muted">Code</h3>
		<div class="line bg-lightgrey over-x-scroll">
		<code hljs >
		<div class="bg-muted">.bg-muted</div>
		</code>
		</div>
		<div class="separator15"></div>
		<div class="line bg-grid">
			<div class="col5 center-content bg-muted">
				<div class="separator5"></div>
				.bg-muted
				<div class="separator5"></div>
			</div>
		</div>
		<div class="separator30"></div>
		<h2>.bg-muted-inverse</h2>
		<div class="separator15"></div>
		<h3 class="color-muted">Code</h3>
		<div class="line bg-lightgrey over-x-scroll">
		<code hljs >
		<div class="bg-muted-inverse color-black">.bg-muted-inverse</div>
		</code>
		</div>
		<div class="separator15"></div>
		<div class="line bg-grid">
			<div class="col5 center-content bg-muted-inverse">
				<div class="separator5"></div>
				.bg-muted-inverse
				<div class="separator5"></div>
			</div>
		</div>
	</div>
	<div class="separator50"></div>
