<div class="line bg-azure color-grey ">
  <div class="line-compress">
    <div class="separator10"></div>
    <h1 class="center-content">No! </h1>
    <div class="separator10"></div>
  </div>
  <div class="hr"></div>
</div>
<div class="separator15"></div>
<div class="line">
  <div class="line-compress">
    <h4 class="font-light">
      {{config.appName}} 
      includes some classes that can be used to remove / reset  pre-defined rules.
    </h4>
    <div class="separator15"></div>
    <div class="bg-lightgrey radius3">
      <h5 class="color-muted font-light radius">
        <div class="separator5"></div>
        <div class="line-compress">
          <i class="fa fa-exclamation color-red"></i>
          {{config.appName}}  <b>no!</b> classes can be easily extended .
          <div> Just, for example, in case you don't need box-shadow on your element you could add a nice 
            <small class="badge bg-lightgrey radius5"><b>.no-box-shadow</b></small>  { box-shadow:none; }
          </div>
        </div>
        <div class="separator5"></div>
      </h5>
    </div>
    <div class="separator15"></div>
    <h3>.no-border</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the border from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-margin</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the margins from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-padding</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the padding from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-radius</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the border-radius from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-bg</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the background from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-list-style</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the list-style-type from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-float</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the float from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-width</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the width from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-height</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the height from the element
    </div>
    <div class="separator15"></div>
    <div class="separator15"></div>
    <h3>.no-opacity</h3>
    <div class="separator5"></div>
    <div class="line-compress bg-lightgrey color-muted radius3">
      It removes the opacity from the element
    </div>
    <div class="separator15"></div>
  </div>
  <div class="separator50"></div>
