<div class="line bg-azure color-grey ">
  <div class="line-compress">
    <div class="separator10"></div>
    <h1 class="center-content">Utils</h1>
    <div class="separator10"></div>
  </div>
  <div class="hr"></div>
</div>
<div class="separator15"></div>
<div class="line">
  <div class="line-compress">
    <h4 class="font-light">
      {{config.appName}}
      includes some classes that can be used to do simple tasks like for example
      <small class="badge bg-lightgrey radius5"><b>.uppercase</b></small> which returns your text to UPPERCASE
      <div class="separator15"></div>
      <div class="bg-lightgrey radius3">
        <h5 class="color-muted font-light radius">
          <div class="separator5"></div>
          <div class="line-compress">
            <i class="fa fa-exclamation color-red"></i>
            {{config.appName}}  <b>utils</b> classes can be easily extended .
            <div> Just, for example, in case that  you need to have a border-radius only on left side of the elmeent you could create a nice
              <small class="badge bg-lightgrey radius5"><b>.radius-left-3</b></small>  { border-radius:3px 0px 0px 3px; }
            </div>
          </div>
          <div class="separator5"></div>
        </h5>
      </div>
      <div class="separator15"></div>
      <h1 class="color-muted font-light">Radius</h1>

      <div class="separator5"></div>
      <h3>.radius3</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends border-radius:3px; to the element
      </div>
      <div class="separator15"></div>
      <h3>.radius5</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends border-radius:5px; to the element
      </div>
      <div class="separator15"></div>
      <h3>.radius10</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends border-radius:10px; to the element
      </div>
      <div class="separator15"></div>
      <h3>.radius20</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends border-radius:20px; to the element
      </div>
      <div class="separator15"></div>
      <h3>.radius-full</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends border-radius:100%; to the element
      </div>
      <div class="separator30"></div>
      <h1 class="color-muted font-light">Vertical spacing</h1>

      <div class="separator5"></div>
      <h3>.separator3</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It adds a 3px height  vertical separator
      </div>
      <div class="separator15"></div>
      <h3>.separator5</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It adds a 5px height  vertical separator
      </div>
      <div class="separator15"></div>
      <h3>.separator10</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It adds a 10px height  vertical separator
      </div>
      <div class="separator15"></div>
      <h3>.separator15</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It adds a 15px height  vertical separator
      </div>
      <div class="separator15"></div>
      <h3>.separator30</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It adds a 30px height  vertical separator
      </div>
      <div class="separator15"></div>
      <h3>.separator50</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It adds a 50px height  vertical separator
      </div>
      <div class="separator15"></div>
      <h3>.separator100</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It adds a 100px height  vertical separator
      </div>
      <div class="separator15"></div>
      <h1 class="color-muted font-light">Float</h1>
      <div class="separator5"></div>
      <h3>.push-left</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends float:left; to the element
      </div>
      <div class="separator15"></div>
      <h3>.push-right</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends float:right; to the element
      </div>
      <div class="separator15"></div>
      <h3>.push-center</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends float:none; to the element
      </div>
      <div class="separator30"></div>
      <h1 class="color-muted font-light">Lines</h1>
      <div class="separator5"></div>
      <h3>.hr</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It creates a line
      </div>
      <div class="separator30"></div>
      <h1 class="color-muted font-light"> Align horizontally</h1>
      <div class="separator5"></div>
      <h3>.left-content</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It puts the element content to the left edge
      </div>
      <div class="separator15"></div>
      <h3>.right-content</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It puts the element content to the right edge
      </div>
      <div class="separator15"></div>
      <h3>.center-content</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It puts the element content to the center
      </div>
      <div class="separator30"></div>
      <h1 class="color-muted font-light"> Align vertically</h1>

      <div class="separator5"></div>
      <h3>.v-top</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends vertical-align:top; to the element
      </div>
      <div class="separator15"></div>
      <h3>.v-bottom</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends vertical-align:bottom; to the element
      </div>
      <div class="separator15"></div>
      <h3>.v-middle</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends vertical-align:middle; to the element
      </div>
      <div class="separator15"></div>
      <h3>.v-super</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends vertical-align:super; to the element
      </div>
      <div class="separator15"></div>
      <h3>.v-sub</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends vertical-align:sub; to the element
      </div>
      <div class="separator15"></div>
      <h3>.v-text</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends vertical-align:text-bottom; to the element
      </div>

      <div class="separator30"></div>
      <h1 class="color-muted font-light">Positions</h1>

      <div class="separator5"></div>
      <h3>.top</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends top:0; to the element
      </div>
      <div class="separator15"></div>
      <h3>.bottom</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends bottom:0; to the element
      </div>
      <div class="separator15"></div>
      <h3>.left</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends left:0; to the element
      </div>
      <div class="separator15"></div>
      <h3>.right</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends right:0; to the element
      </div>

      <div class="separator30"></div>
      <h1 class="color-muted font-light">Statements</h1>

      <div class="separator5"></div>
      <h3>.fixed</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends position:fixed; to the element
      </div>
      <div class="separator15"></div>
      <h3>.absolute</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends position:absolute; to the element
      </div>
      <div class="separator15"></div>
      <h3>.relative</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends position:relative; to the element
      </div>
      <div class="separator15"></div>
      <h3>.relative-absolute</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends position: relative absolute; to the element
      </div>
      <div class="separator30"></div>
      <h1 class="color-muted font-light"> Visibility</h1>
      <div class="separator5"></div>
      <h3>.hide</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends display:none; to the element
      </div>
      <div class="separator15"></div>
      <h3>.show</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends display:inherit; to the element
      </div>
      <div class="separator15"></div>
      <h3>.hidden</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends visibility:hidden; to the element
      </div>
      <div class="separator15"></div>
      <h3>.visible</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends visibility:visible; to the element
      </div>
      <div class="separator30"></div>
      <h1 class="color-muted font-light">Text</h1>

      <div class="separator5"></div>
      <h3>.uppercase</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It turns text to uppercase
      </div>
      <div class="separator15"></div>
      <h3>.lowercase</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It turns text to  lowercase
      </div>
      <div class="separator15"></div>
      <h3>.capitalize</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It turns text to capitalize
      </div>
      <div class="separator15"></div>
      <h3>.breakword</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It breaks text with a return if  text is overflowing the element
      </div>
      <div class="separator15"></div>
      <h3>.ellips</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It breaks text and puts <b class="color-black">...</b> ellipsis if text is overflowing the element
      </div>

      <div class="separator30"></div>
      <h1 class="color-muted font-light">Scrollbar</h1>

      <div class="separator5"></div>
      <h3>.over-hidden</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes element not scrollable both on X and Y axis
      </div>
      <div class="separator5"></div>
      <h3>.over-y-hidden</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes element not scrollable on Y axis
      </div>
      <div class="separator5"></div>
      <h3>.over-x-hidden</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes element not scrollable on X axis
      </div>
      <div class="separator5"></div>
      <h3>.over-x-scroll</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes element scrollable  on X  axis
      </div>
      <div class="separator5"></div>
      <h3>.over-y-scroll</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes element scrollable on Y axis
      </div>

      <div class="separator30"></div>
      <h1 class="color-muted font-light">Font</h1>

      <div class="separator5"></div>
      <h3>.font-light</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes font weight lighter inside the element
      </div>
      <div class="separator5"></div>
      <h3>.font-medium</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes font weight medium inside the element
      </div>
      <div class="separator5"></div>
      <h3>.font-bold</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It makes font weight bold inside the element
      </div>
      <div class="separator30"></div>
      <h1 class="color-muted font-light">Layers</h1>

      <div class="separator5"></div>
      <h3>.layer1</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends z-index:1; to the element
      </div>
      <div class="separator15"></div>
      <h3>.layer2</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends z-index:2; to the element
      </div>
      <div class="separator15"></div>
      <h3>.layer3</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends z-index:3; to the element
      </div>
      <div class="separator15"></div>
      <h3>.layer4</h3>
      <div class="separator5"></div>
      <div class="line-compress bg-lightgrey color-muted radius3">
        It appends z-index:4; to the element
      </div>



    </div>
    <div class="separator50"></div>
